# Solutions Part - Two for the Third Programming Assignment

This python notebook answers all the questions for the Third programming Assignment

### Question - 3 

Now consider a “Term” to mean a 2-gram (two words occurring sequentially) in a document. Modify the programs given to you to compute the TFIDF for each Term (2-gram). Submit the following items:

a.	List of top 15 “Terms” (2-grams) for each document, having the highest TFIDF values. The task of selecting the top 15 terms does not need to be done by the MapReduce program.

b.	Which output – obtained in 1(b) or in 3(a) – better characterizes the documents? Give reasons for your answers.

### Solution

The given programs are modified to compute TFIDF in the Hadoop itself, the output of the phase 3 are of the form as shown below:

In [116]:
# importing libraries

import numpy as np
import pandas as pd

In [117]:
with open("PhaseThree_n/phase3_2g_res/part-r-00000") as file1_1:
    data1_1 = file1_1.read()
    data1_1_n= data1_1.split("\n")
    
print(data1_1_n[0])

11032_and,0009,1,128,4,0.0037275098024973628

In [118]:
# Creating a dataframe from the file

df_2g = pd.read_csv("PhaseThree_n/phase3_2g_res/part-r-00000", header=None, dtype={1:str})

df_2g.columns=["2gram","Document","n","N","m","TFIDF"]

df_2g.head(10)

        2gram Document  n    N  m     TFIDF
0   11032_and     0009  1  128  4  0.003728
1   11032_and     0003  1   46  4  0.010372
2   11032_and     0002  1  128  4  0.003728
3   11032_and     0010  1   46  4  0.010372
4  11033_from     0010  1   46  2  0.016916
5  11033_from     0003  1   46  2  0.016916
6    11033_of     0009  1  128  2  0.006079
7    11033_of     0002  1  128  2  0.006079
8    1500s_is     0010  1   46  2  0.016916
9    1500s_is     0003  1   46  2  0.016916

In [119]:
# The dataframe is grouped, sorted and indexed to show the top 15 TF-IDF words within each document.

df_2g=df_2g.sort_values(["Document","TFIDF"],ascending=[True,False])

df_2g=df_2g.groupby(["Document"], as_index=False).apply(lambda x: x.reset_index(drop = True)).reset_index()

df_2g=df_2g.drop('level_0',axis = 1).set_index('level_1')

df_2g=df_2g.groupby(["Document"]).head(15)

df_2g.index+=1

df_2g

                         2gram Document  n    N  m     TFIDF
level_1
1                   dummy_text     0001  2   90  2  0.017292
2                   1500s_when     0001  1   90  2  0.008646
3                   1960s_with     0001  1   90  2  0.008646
4              Aldus_PageMaker     0001  1   90  2  0.008646
5                    Ipsum_has     0001  1   90  2  0.008646
6               Ipsum_passages     0001  1   90  2  0.008646
7                       It_was     0001  1   90  2  0.008646
8              Letraset_sheets     0001  1   90  2  0.008646
9          PageMaker_including     0001  1   90  2  0.008646
10                    a_galley     0001  1   90  2  0.008646
11                      a_type     0001  1   90  2  0.008646
12                    also_the     0001  1   90  2  0.008646
13                  an_unknown     0001  1   90  2  0.008646
14                    and_more     0001  1   90  2  0.008646
15               and_scrambled     0001  1   90  2  0.008646
1                        45_BC     0002  2  128  2  0.012159
2                   comes_from     0002  2  128  2  0.012159
3                       from_a     0002  2  128  2  0.012159
4                       of_the     0002  2  128  4  0.007455
5                     11033_of     0002  1  128  2  0.006079
6                   2000_years     0002  1  128  2  0.006079
7                      BC_This     0002  1  128  2  0.006079
8                    BC_making     0002  1  128  2  0.006079
9               Cicero_written     0002  1  128  2  0.006079
10                  College_in     0002  1  128  2  0.006079
11                 Contrary_to     0002  1  128  2  0.006079
12                     Evil_by     0002  1  128  2  0.006079
13                 Extremes_of     0002  1  128  2  0.006079
14                    Good_and     0002  1  128  2  0.006079
15       HampdenSydney_College     0002  1  128  2  0.006079
...                        ...      ... ..  ... ..       ...
1                 Content_here     0011  1  103  2  0.007555
2                 English_Many     0011  1  103  2  0.007555
3                     Ipsum_as     0011  1  103  2  0.007555
4                        It_is     0011  1  103  2  0.007555
5                 Many_desktop     0011  1  103  2  0.007555
6                    The_point     0011  1  103  2  0.007555
7             Various_versions     0011  1  103  2  0.007555
8                       a_long     0011  1  103  2  0.007555
9                 a_moreorless     0011  1  103  2  0.007555
10                      a_page     0011  1  103  2  0.007555
11                    a_reader     0011  1  103  2  0.007555
12                    a_search     0011  1  103  2  0.007555
13          accident_sometimes     0011  1  103  2  0.007555
14                       and_a     0011  1  103  2  0.007555
15                     and_the     0011  1  103  2  0.007555
1                    humour_or     0012  2  120  2  0.012969
2                 the_Internet     0012  2  120  2  0.012969
3              injected_humour     0012  2  120  4  0.007952
4                       on_the     0012  2  120  4  0.007952
5                    200_Latin     0012  1  120  2  0.006485
6                      All_the     0012  1  120  2  0.006485
7                       If_you     0012  1  120  2  0.006485
8                  Internet_It     0012  1  120  2  0.006485
9                Internet_tend     0012  1  120  2  0.006485
10             Ipsum_available     0012  1  120  2  0.006485
11            Ipsum_generators     0012  1  120  2  0.006485
12                 Ipsum_which     0012  1  120  2  0.006485
13                   Ipsum_you     0012  1  120  2  0.006485
14                     It_uses     0012  1  120  2  0.006485
15               The_generated     0012  1  120  2  0.006485

[180 rows x 6 columns]

In [120]:
# saving the df after sorting per document by TFIDF and having top 15

df_2g.to_csv("DF_2g", sep='\t', encoding='utf-8')

#### b.

**Note: df_2g and df_1_n are availabe as csv files in this submission with same name.**

Comments on comparing the df_2g (top 15 2-grams per each document) and df_1_n (top 15 1-grams per each document):

It looks like 2-grams characterizes more against 1-grams since the one grams cannot offer much information like: name of the persons involved / the topics of which the book speaks, the era of the book is speaking etc. Moreover, it is much likely to know the style of the author with the 2-grams.

### Question - 4

Once your program is working for the above two parts, run the programs on a larger collection of documents (to be provided to you next week) and repeat the above two tasks. Discuss the results for 1(b), 2(b), and 3(a) in the context of the new set of documents.

#### Solution

Firstly, the task 1(b): top 15 1-grams per each document is done. The results of the phase3 are stored in the file:

phase3_docs/part-r-00000

In [121]:
with open("PhaseThree_n/phase3_docs/part-r-00000") as file1_1:
    data1_1 = file1_1.read()
    data1_1_n= data1_1.split("\n")
    
print(data1_1_n[0])

$1,11-0.txt,1,29390,4,0.0

In [122]:
# Creating a dataframe from the file

df_docs = pd.read_csv("PhaseThree_n/phase3_docs/part-r-00000", header=None, dtype={1:str})

df_docs.columns=["word","Document","n","N","m","TFIDF"]

df_docs.head(10)

    word    Document  n       N  m  TFIDF
0     $1    11-0.txt  1   29390  4    0.0
1     $1   219-0.txt  1   40913  4    0.0
2     $1  1342-0.txt  1  124543  4    0.0
3     $1  1952-0.txt  1    9088  4    0.0
4  $5000   219-0.txt  1   40913  4    0.0
5  $5000  1952-0.txt  1    9088  4    0.0
6  $5000  1342-0.txt  1  124543  4    0.0
7  $5000    11-0.txt  1   29390  4    0.0
8      1  1952-0.txt  1    9088  4    0.0
9      1  1342-0.txt  2  124543  4    0.0

In [123]:
# The dataframe is grouped, sorted and indexed to show the top 15 TF-IDF words within each document.

df_docs=df_docs.sort_values(["Document","TFIDF"],ascending=[True,False])

df_docs=df_docs.groupby(["Document"], as_index=False).apply(lambda x: x.reset_index(drop = True)).reset_index()

df_docs=df_docs.drop('level_0',axis = 1).set_index('level_1')

df_docs=df_docs.groupby(["Document"]).head(15)

df_docs.index+=1

df_docs

                word    Document    n       N  m     TFIDF
level_1
1              Alice    11-0.txt  385   29390  1  0.007887
2              Queen    11-0.txt   67   29390  1  0.001373
3               Mock    11-0.txt   56   29390  1  0.001147
4             Turtle    11-0.txt   56   29390  1  0.001147
5            Gryphon    11-0.txt   55   29390  1  0.001127
6             Hatter    11-0.txt   54   29390  1  0.001106
7             Rabbit    11-0.txt   40   29390  1  0.000819
8           Dormouse    11-0.txt   39   29390  1  0.000799
9            Duchess    11-0.txt   39   29390  1  0.000799
10              Hare    11-0.txt   31   29390  1  0.000635
11              King    11-0.txt   59   29390  2  0.000604
12             Mouse    11-0.txt   29   29390  1  0.000594
13       Caterpillar    11-0.txt   26   29390  1  0.000533
14               Cat    11-0.txt   24   29390  1  0.000492
15              jury    11-0.txt   17   29390  1  0.000348
1          Elizabeth  1342-0.txt  594  124543  1  0.002871
2                 Mr  1342-0.txt  783  124543  2  0.001893
3              Darcy  1342-0.txt  370  124543  1  0.001789
4                Mrs  1342-0.txt  343  124543  1  0.001658
5             Bennet  1342-0.txt  292  124543  1  0.001412
6            Bingley  1342-0.txt  256  124543  1  0.001238
7            Wickham  1342-0.txt  161  124543  1  0.000778
8            Collins  1342-0.txt  155  124543  1  0.000749
9               Miss  1342-0.txt  281  124543  2  0.000679
10              Lady  1342-0.txt  137  124543  1  0.000662
11              Jane  1342-0.txt  263  124543  2  0.000636
12             Lydia  1342-0.txt  130  124543  1  0.000628
13         Catherine  1342-0.txt  110  124543  1  0.000532
14             Lizzy  1342-0.txt   92  124543  1  0.000445
15         Longbourn  1342-0.txt   88  124543  1  0.000425
1             Jennie  1952-0.txt   12    9088  1  0.000795
2          wallpaper  1952-0.txt   11    9088  1  0.000729
3            pattern  1952-0.txt   21    9088  2  0.000696
4               John  1952-0.txt   43    9088  3  0.000591
5           daylight  1952-0.txt    5    9088  1  0.000331
6            nursery  1952-0.txt    5    9088  1  0.000331
7           creeping  1952-0.txt    9    9088  2  0.000298
8             Gilman  1952-0.txt    4    9088  1  0.000265
9            Perkins  1952-0.txt    4    9088  1  0.000265
10            arbors  1952-0.txt    4    9088  1  0.000265
11             color  1952-0.txt    4    9088  1  0.000265
12             creep  1952-0.txt    8    9088  2  0.000265
13           daytime  1952-0.txt    4    9088  1  0.000265
14         physician  1952-0.txt    4    9088  1  0.000265
15            yellow  1952-0.txt    8    9088  2  0.000265
1              Kurtz   219-0.txt   93   40913  1  0.001369
2           pilgrims   219-0.txt   30   40913  1  0.000441
3              ivory   219-0.txt   27   40913  1  0.000397
4              river   219-0.txt   53   40913  2  0.000390
5                 Mr   219-0.txt   51   40913  2  0.000375
6             forest   219-0.txt   23   40913  1  0.000338
7                men   219-0.txt   46   40913  2  0.000338
8             Kurtzs   219-0.txt   21   40913  1  0.000309
9              black   219-0.txt   39   40913  2  0.000287
10           manager   219-0.txt   38   40913  2  0.000280
11           steamer   219-0.txt   19   40913  1  0.000280
12             earth   219-0.txt   37   40913  2  0.000272
13         steamboat   219-0.txt   18   40913  1  0.000265
14              bush   219-0.txt   17   40913  1  0.000250
15              deck   219-0.txt   15   40913  1  0.000221

In [124]:
# saving the df after sorting per document by TFIDF and having top 15

df_docs.to_csv("DF_docs", sep='\t', encoding='utf-8')

Next, the task 2(b): top 15 1-grams per each document is done after discarding the words which have frequency less than 1 per document. The results of the phase3 are stored in the file:

phase3_docs_1/part-r-00000

In [125]:
with open("PhaseThree_n/phase3_docs_1/part-r-00000") as file1_1:
    data1_1 = file1_1.read()
    data1_1_n= data1_1.split("\n")
    
print(data1_1_n[0])

1,1342-0.txt,2,121259,1,9.930149371641898E-6

In [126]:
# Creating a dataframe from the file

df_docs_1 = pd.read_csv("PhaseThree_n/phase3_docs_1/part-r-00000", header=None, dtype={1:str})

df_docs_1.columns=["word","Document","n","N","m","TFIDF"]

df_docs_1.head(10)

  word    Document  n       N  m    TFIDF
0    1  1342-0.txt  2  121259  1  0.00001
1   10  1342-0.txt  2  121259  1  0.00001
2   1C    11-0.txt  2   27528  4  0.00000
3   1C   219-0.txt  2   36949  4  0.00000
4   1C  1952-0.txt  2    7918  4  0.00000
5   1C  1342-0.txt  2  121259  4  0.00000
6   1E  1952-0.txt  2    7918  4  0.00000
7   1E   219-0.txt  2   36949  4  0.00000
8   1E  1342-0.txt  2  121259  4  0.00000
9   1E    11-0.txt  2   27528  4  0.00000

In [127]:
# The dataframe is grouped, sorted and indexed to show the top 15 TF-IDF words within each document.

df_docs_1=df_docs_1.sort_values(["Document","TFIDF"],ascending=[True,False])

df_docs_1=df_docs_1.groupby(["Document"], as_index=False).apply(lambda x: x.reset_index(drop = True)).reset_index()

df_docs_1=df_docs_1.drop('level_0',axis = 1).set_index('level_1')

df_docs_1=df_docs_1.groupby(["Document"]).head(15)

df_docs_1.index+=1

df_docs_1

                word    Document    n       N  m     TFIDF
level_1
1              Alice    11-0.txt  385   27528  1  0.008420
2              Queen    11-0.txt   67   27528  1  0.001465
3               Mock    11-0.txt   56   27528  1  0.001225
4             Turtle    11-0.txt   56   27528  1  0.001225
5            Gryphon    11-0.txt   55   27528  1  0.001203
6             Hatter    11-0.txt   54   27528  1  0.001181
7             Rabbit    11-0.txt   40   27528  1  0.000875
8           Dormouse    11-0.txt   39   27528  1  0.000853
9            Duchess    11-0.txt   39   27528  1  0.000853
10              Hare    11-0.txt   31   27528  1  0.000678
11              King    11-0.txt   59   27528  2  0.000645
12             Mouse    11-0.txt   29   27528  1  0.000634
13                Im    11-0.txt   55   27528  2  0.000601
14       Caterpillar    11-0.txt   26   27528  1  0.000569
15               Cat    11-0.txt   24   27528  1  0.000525
1          Elizabeth  1342-0.txt  594  121259  1  0.002949
2                 Mr  1342-0.txt  783  121259  2  0.001944
3              Darcy  1342-0.txt  370  121259  1  0.001837
4                Mrs  1342-0.txt  343  121259  1  0.001703
5             Bennet  1342-0.txt  292  121259  1  0.001450
6               Jane  1342-0.txt  263  121259  1  0.001306
7            Bingley  1342-0.txt  256  121259  1  0.001271
8            Wickham  1342-0.txt  161  121259  1  0.000799
9            Collins  1342-0.txt  155  121259  1  0.000770
10              Miss  1342-0.txt  281  121259  2  0.000698
11              Lady  1342-0.txt  137  121259  1  0.000680
12             Lydia  1342-0.txt  130  121259  1  0.000645
13         Catherine  1342-0.txt  110  121259  1  0.000546
14             Lizzy  1342-0.txt   92  121259  1  0.000457
15         Longbourn  1342-0.txt   88  121259  1  0.000437
1               John  1952-0.txt   43    7918  2  0.001635
2            pattern  1952-0.txt   21    7918  1  0.001597
3             Jennie  1952-0.txt   12    7918  1  0.000912
4          wallpaper  1952-0.txt   11    7918  1  0.000836
5           creeping  1952-0.txt    9    7918  1  0.000684
6              creep  1952-0.txt    8    7918  1  0.000608
7           daylight  1952-0.txt    5    7918  1  0.000380
8            nursery  1952-0.txt    5    7918  1  0.000380
9             Gilman  1952-0.txt    4    7918  1  0.000304
10           Perkins  1952-0.txt    4    7918  1  0.000304
11            arbors  1952-0.txt    4    7918  1  0.000304
12             color  1952-0.txt    4    7918  1  0.000304
13           darling  1952-0.txt    4    7918  1  0.000304
14           daytime  1952-0.txt    4    7918  1  0.000304
15         physician  1952-0.txt    4    7918  1  0.000304
1              Kurtz   219-0.txt   93   36949  1  0.001515
2              black   219-0.txt   39   36949  1  0.000635
3            manager   219-0.txt   38   36949  1  0.000619
4           pilgrims   219-0.txt   30   36949  1  0.000489
5              ivory   219-0.txt   27   36949  1  0.000440
6              river   219-0.txt   53   36949  2  0.000432
7                 Mr   219-0.txt   51   36949  2  0.000416
8           darkness   219-0.txt   24   36949  1  0.000391
9             forest   219-0.txt   23   36949  1  0.000375
10               men   219-0.txt   46   36949  2  0.000375
11            Kurtzs   219-0.txt   21   36949  1  0.000342
12        wilderness   219-0.txt   21   36949  1  0.000342
13           station   219-0.txt   40   36949  2  0.000326
14           steamer   219-0.txt   19   36949  1  0.000310
15             earth   219-0.txt   37   36949  2  0.000301

In [128]:
# saving the df after sorting per document by TFIDF and having top 15

df_docs_1.to_csv("DF_docs_1", sep='\t', encoding='utf-8')

Finally, the task 3(a): top 15 2-grams per each document is done. The results of the phase3 are stored in the file:

phase3_2g_docs

In [129]:
with open("PhaseThree_n/phase3_2g_docs/part-r-00000") as file1_1:
    data1_1 = file1_1.read()
    data1_1_n= data1_1.split("\n")
    
print(data1_1_n[0])

$1_to,1342-0.txt,1,122233,4,0.0

In [130]:
# Creating a dataframe from the file

df_2g_docs = pd.read_csv("PhaseThree_n/phase3_2g_docs/part-r-00000", header=None, dtype={1:str})

df_2g_docs.columns=["2gram","Document","n","N","m","TFIDF"]

df_2g_docs.head(10)

       2gram    Document  n       N  m     TFIDF
0      $1_to  1342-0.txt  1  122233  4  0.000000
1      $1_to  1952-0.txt  1    8680  4  0.000000
2      $1_to    11-0.txt  1   28261  4  0.000000
3      $1_to   219-0.txt  1   40532  4  0.000000
4  $5000_are   219-0.txt  1   40532  4  0.000000
5  $5000_are  1342-0.txt  1  122233  4  0.000000
6  $5000_are    11-0.txt  1   28261  4  0.000000
7  $5000_are  1952-0.txt  1    8680  4  0.000000
8    10_2018  1342-0.txt  1  122233  1  0.000005
9  110txt_or    11-0.txt  1   28261  1  0.000021

In [131]:
# The dataframe is grouped, sorted and indexed to show the top 15 TF-IDF words within each document.

df_2g_docs=df_2g_docs.sort_values(["Document","TFIDF"],ascending=[True,False])

df_2g_docs=df_2g_docs.groupby(["Document"], as_index=False).apply(lambda x: x.reset_index(drop = True)).reset_index()

df_2g_docs=df_2g_docs.drop('level_0',axis = 1).set_index('level_1')

df_2g_docs=df_2g_docs.groupby(["Document"]).head(15)

df_2g_docs.index+=1

df_2g_docs

                     2gram    Document    n       N  m     TFIDF
level_1
1               said_Alice    11-0.txt  115   28261  1  0.002450
2                the_Queen    11-0.txt   57   28261  1  0.001214
3                 the_King    11-0.txt   55   28261  1  0.001172
4              Mock_Turtle    11-0.txt   54   28261  1  0.001150
5              the_Gryphon    11-0.txt   51   28261  1  0.001086
6                 the_Mock    11-0.txt   49   28261  1  0.001044
7               the_Hatter    11-0.txt   46   28261  1  0.000980
8                 said_the    11-0.txt  207   28261  3  0.000915
9              the_Duchess    11-0.txt   34   28261  1  0.000724
10              March_Hare    11-0.txt   31   28261  1  0.000660
11            the_Dormouse    11-0.txt   29   28261  1  0.000618
12               the_March    11-0.txt   29   28261  1  0.000618
13           thought_Alice    11-0.txt   26   28261  1  0.000554
14         the_Caterpillar    11-0.txt   23   28261  1  0.000490
15                to_Alice    11-0.txt   23   28261  1  0.000490
1                 Mr_Darcy  1342-0.txt  241  122233  1  0.001187
2               Mrs_Bennet  1342-0.txt  139  122233  1  0.000685
3               Mr_Collins  1342-0.txt  129  122233  1  0.000635
4           Lady_Catherine  1342-0.txt  100  122233  1  0.000493
5               Mr_Bingley  1342-0.txt   91  122233  1  0.000448
6                Mr_Bennet  1342-0.txt   79  122233  1  0.000389
7             Miss_Bingley  1342-0.txt   72  122233  1  0.000355
8            Elizabeth_was  1342-0.txt   64  122233  1  0.000315
9               Mr_Wickham  1342-0.txt   62  122233  1  0.000305
10                 am_sure  1342-0.txt   62  122233  1  0.000305
11             Miss_Bennet  1342-0.txt   60  122233  1  0.000296
12           and_Elizabeth  1342-0.txt   59  122233  1  0.000291
13               she_could  1342-0.txt  116  122233  2  0.000286
14                  of_her  1342-0.txt  259  122233  3  0.000265
15              her_mother  1342-0.txt   53  122233  1  0.000261
1                  John_is  1952-0.txt    9    8680  1  0.000624
2                John_says  1952-0.txt    6    8680  1  0.000416
3                the_paper  1952-0.txt    9    8680  2  0.000312
4        Charlotte_Perkins  1952-0.txt    4    8680  1  0.000277
5                 John_and  1952-0.txt    4    8680  1  0.000277
6               John_would  1952-0.txt    4    8680  1  0.000277
7           Perkins_Gilman  1952-0.txt    4    8680  1  0.000277
8              a_physician  1952-0.txt    4    8680  1  0.000277
9               around_the  1952-0.txt    4    8680  1  0.000277
10             by_daylight  1952-0.txt    4    8680  1  0.000277
11             the_daytime  1952-0.txt    4    8680  1  0.000277
12             the_pattern  1952-0.txt    8    8680  2  0.000277
13                  is_one  1952-0.txt    7    8680  2  0.000243
14              THE_YELLOW  1952-0.txt    3    8680  1  0.000208
15              The_Yellow  1952-0.txt    3    8680  1  0.000208
1                 Mr_Kurtz   219-0.txt   41   40532  1  0.000609
2                as_though   219-0.txt   36   40532  1  0.000535
3              the_manager   219-0.txt   24   40532  1  0.000356
4                    I_saw   219-0.txt   41   40532  2  0.000305
5               the_forest   219-0.txt   18   40532  1  0.000267
6              the_station   219-0.txt   17   40532  1  0.000253
7             the_pilgrims   219-0.txt   16   40532  1  0.000238
8                the_river   219-0.txt   29   40532  2  0.000215
9                Kurtz_was   219-0.txt   14   40532  1  0.000208
10          the_wilderness   219-0.txt   14   40532  1  0.000208
11                  of_his   219-0.txt   58   40532  3  0.000179
12             the_steamer   219-0.txt   12   40532  1  0.000178
13               Kurtz_had   219-0.txt   10   40532  1  0.000149
14             The_manager   219-0.txt   10   40532  1  0.000149
15                  He_was   219-0.txt   47   40532  3  0.000145

In [132]:
# saving the df after sorting per document by TFIDF and having top 15

df_2g_docs.to_csv("DF_2g_docs", sep='\t', encoding='utf-8')

### Comments on 1(b), 2(b) and 3(a)

**Note: df_docs, df_docs_1 and df_2g_docs ,i.e, dataframes after grouping, sorting and collecting top 15 TFIDF for each scenarios per document respectively are availabe as csv files in this submission with same name.**

Comments:

1. The df_docs and df_docs_1 contains the most important words as TFIDF. It provides the context of the document by simply giving the main characters/items in the document.
2. The df_2g_docs contsins the most 2-grams which will provide much more information as discussed in question 3(b).